.menu {
  width: 320px;
  height: 100%;
  position: fixed;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.menu::-webkit-scrollbar {
  display: none;
}
.menu__head {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 320px;
}
.menu-head__logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.menu__head_logo img {
  margin-left: 20px;
}
.menu__head_search {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
ul {
  list-style: none;
}
li a {
  color: #1b1c21;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
button:hover {
  filter: opacity(50%);
  transition: 0.3s;
}
.menu-nav__button a:focus,
.menu-nav__button a:active {
  outline: none;
  transition-duration: 0.3s;
  color: #7e7e82;
}
a:hover {
  color: #e82761;
  transition: 0.3s;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.menu-nav li {
  margin-top: 30px;
}
.menu-nav::before {
  content: "";
  width: 2px;
  height: 40px;
  position: absolute;
  background-color: #41f6d7;
  width: 4px;
  height: 40px;
  left: 1px;
  top: 130px;
  border-radius: 0px 20px 20px 0px;
}
.menu-nav__button {
  padding: 5px;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: space-between;
}
.nav-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.contact__buttons {
  display: flex;
}
.contact__buttons button:nth-child(1n):not(:first-child) {
  margin-left: 15px;
}
.contact__tel {
  font-size: 24px;
  font-weight: bolder;
  margin-top: -1px;
  color: #1b1c21;
}
.lang-link {
  display: flex;
  margin-bottom: 20px;
}
.lang-link a:not(:first-child) {
  margin-left: 5px;
}
.lang-link a:nth-child(1n) {
  color: #1b1c21;
}
.lang-link a:first-child {
  color: #7e7e82;
}
.lang-link a:hover {
  color: #e82761;
  transition: 0.3s;
}
.contact {
  gap: 20px;
}
